.about-view.modal.fade
	.modal-dialog.modal-sm.modal-md
		.modal-content
			.modal-header
				button.close(data-dismiss='modal', area-label="Close")
					span(area-hidden='true') &times;
				h4.modal-title About
			.modal-body 
				p This is lightweight chat app
			.modal-footer 
				button.btn.btn-default(data-dissmiss="modal") Close