#auth-view.modal.fade
	.modal-dialog.modal-sm.modal-md
		.modal-content(ng-controller='AuthorizeController as auth')
			.modal-header
				button.close(data-dismiss='modal', area-label="Close")
					span(area-hidden='true') &times;
				h4.modal-title Please sing up
			form#login-form(ng-submit="login-form.$valid && this.SingIn()", novalidate)
				.modal-body 				
						.form-group
							label(for="login-input") Login
							input#login-input.form-control(type='text', placeholder="Enter your login", ng-model='auth.name', required="true")
						.form-group
							.checkbox
								label
									input(type='checkbox', ng-model="auth.rememberme", value='false')
									span Remember me
				.modal-footer 
					button.btn.btn-primary(type="submit") Sing up
					button.btn.btn-default(data-dissmiss="modal") Close {{login-form.$valid}}