#auth-view.modal.fade(data-backdrop="static")
	.modal-dialog.modal-sm.modal-md
		form(name="loginform", ng-controller='AuthorizeController as auth', ng-submit="login-form.$valid && auth.SingIn()", novalidate)#login-form.modal-content
			.modal-header
				button.close(data-dismiss='modal', area-label="Close", ng-disabled="!auth.IsValid()")
					span(area-hidden='true') &times;
				h4.modal-title Please sing up			
			.modal-body 				
					.form-group
						label(for="login-input") Login
						input#login-input.form-control(name='logininput',type='text', placeholder="Enter your login", ng-model='auth.name', required="true", ng-minlength="5", ng-maxlength="15")
						div(ng-messages="loginform.logininput.$error", role="alert")
							div(ng-message="required") You didn't enter a field
							div(ng-message="minlength") Your field is too short
							div(ng-message="maxlength") Your field is too long
					.form-group
						.checkbox
							label
								input(type='checkbox', ng-model="auth.rememberme", value='true')
								span Remember me
			.modal-footer
				button.btn.btn-primary(type="submit", ng-disabled="!auth.IsValid()") Sing up
				button.btn.btn-default(data-dissmiss="modal", ng-disabled="!auth.IsValid()") Close