#modaldialog.modal.fade
	.modal-dialog.modal-sm.modal-md
		.modal-content
			.modal-header
				button.close(data-dismiss='modal', area-label="Close")
					span(area-hidden='true') &times;
				h4.modal-title {{title}}
			.modal-body {{body}}
			.modal-footer {{footer}}