<!DOCTYPE html>
html(lang="en", ng-app="chatapp")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	title Brush	
	link(rel="stylesheet", href="lib/css/bootstrap.css")
	link(rel="stylesheet", href="lib/css/bootstrap-theme.css")
	link(rel="stylesheet", href="styles/style.css")
	link(rel="stylesheet", href="styles/scroll.css")
	link(rel="stylesheet", href="styles/modal.css")
body(ng-controller='ChatController as chat')
	.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header 
				button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
					span.icon-bar
					span.icon-bar
				.navbar-brand Chat Application
				p.navbar-text
					span.hidden-xs Singed in as
					span.clip  Name
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href="") Sing					
					li
						a(href="") About						
	.container.body-content.messager
		.row.messages-row.col-md-8.col-md-offset-2.col-sm-12
				.messages#autoscroll
					ul
						li(ng-repeat='message in chat.messages', ng-class='{self: message.self, system: message.system}')
							small.nickname {{message.sender}}
							.message
								span {{message.body}}

				.row.send-row
					form(ng-submit='chat.sendMessage(chat.message)')
						.input-group
							input.form-control(type="text", placeholder="Type a message", ng-model="chat.message.body")
							span.input-group-btn
								button.btn.btn-primary(ng-disabled='chat.checkMessage()')
									.glyphicon.glyphicon-send.custom-ico
									span Send		
	#modaldialog.modal.fade.container
		.row					
			#dialogContent.col-md-6.col-md-offset-3.col-sm-10
				.modal-content
					.modal-header
						button.close(data-dismiss='modal', area-hidden='true') X
						h4 About
					.modal-body
								span Text
	script(src="lib/js/jquery-2.1.4.js")
	script(src="lib/js/bootstrap.js")
	script(src="lib/js/angular.js")
	script(src="script/helpers.js")
	script(src="script/chatscript.js")